#include <winuser.h>
#include "resource.h"

MAINDLG DIALOGEX 100, 50, 370, 150
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "page keyword alert"
BEGIN
	LTEXT   "url",		IDC_STATIC, 16, 32, 64, 12
	LTEXT   "keyword",	IDC_STATIC, 16, 48, 64, 12
	LTEXT   "postdata",	IDC_STATIC, 16, 64, 64, 12
	EDITTEXT IDC_EDIT_URL,		70, 32, 256, 12, ES_AUTOHSCROLL
	EDITTEXT IDC_EDIT_KEYWORD,	70, 48, 256, 12, ES_AUTOHSCROLL
	EDITTEXT IDC_EDIT_POSTDATA,	70, 64, 256, 12, ES_AUTOHSCROLL
	DEFPUSHBUTTON	"test", IDTEST,	16, 80, 40, 12
	DEFPUSHBUTTON	"save", IDSAVE,	16, 96, 40, 12

	LTEXT   "run once every day",	IDC_STATIC, 70, 96, 64, 12
	EDITTEXT IDC_EDIT_OCLOCK,	    140, 96, 16, 12, ES_AUTOHSCROLL
	LTEXT   "o'clock",	IDC_STATIC, 160, 96, 64, 12
END
